# This file is used to install the required packages for the project.
# To install the packages, run: pip install -r requirements.txt

jupyter==1.0.0
apyori==1.1.2
pandas==1.5.3
matplotlib==3.6.2
numpy==1.23.5